<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="author" content="Miles Benton" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main2.css">

        <!-- Bootstrap -->
        <!-- <link href="../css/bootstrap.css" rel="stylesheet" type="text/css"> -->
        <!-- <link href="../css/bootstrap-responsive.css" rel="stylesheet" type="text/css"> -->
        <!-- <link href="../css/docs.css" rel="stylesheet" type="text/css"> -->
        <!-- HTML5 shim for IE backwards compatibility -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </style>
    <style type="text/css">
      <!--
       .tab { margin-left: 40px; }
      -->
    </style>
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">Down the rabbit hole</a></h1>
      <!--  <a class="extra" href="/">home</a> -->
            <a class="extra" href="/about.html">about</a>
            <a class="extra" href="/publications.html">publications</a>
            <a class="extra" href="/blog/index.html">blog</a>
            <a class="extra" href="/codenotebook/index.html">code notebook</a>
            <a class="extra" href="/workshops&tutorials/index.html">workshops & tutorials</a>
            <a class="extra" href="/presentations.html">presentations & posters</a>       
            <a class="extra" href="/MBenton_CV_140523.pdf">CV</a>    
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Miles Benton<br />
                PostDoctoral Researcher @ QUT<br />
                Institute of Health and Biomedical Innovation<br />
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/sirselim">github.com/sirselim</a><br />
                <a href="https://twitter.com/miles_benton">twitter.com/miles_benton</a><br />
                <a href="http://www.ihbi.qut.edu.au/">www.ihbi.qut.edu.au</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
