---
layout: default
title: Workshops & Tutorials
category: workshops&tutorials
---

<div>
  <h1>Workshops:</h1>
    <p>A list of workshops that I've put together over the years.</p>

      <ul class="posts">
        {% for post in site.posts %}
          {% if post.categories contains 'workshop' %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

  <h1>Tutorials, Comment Pieces and Various Resources:</h1>
    <p>Here I will endeavour to add various pieces of useful information.</p>

      <ul class="posts">
        {% for post in site.posts %}
          {% if post.categories contains 'tutorial' %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>

  <h1>Books:</h1>
    <p><i>Coming soon... just place holders at this point in time</i></p>

    <p><b>An Introduction to R and RStudio (created with gitbook) </b><a href="http://sirselim.github.io/Introduction-to-R-and-RStudio/index.html" target="_blank">[test link]</a><br />
    </p>
</div>